<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"><title>Add television plan</title></head>
<body>
<header th:replace="fragments/commons::navbar"></header>

<div class="mask d-flex align-items-center h-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Create an television plan</h2>

                        <form
                                th:object="${televisionPlanBindingModel}"
                                th:action="@{/television/add-television-plan}"
                                th:method="POST">
                            <div class="form-outline mb-4">
                                <input
                                        th:field="*{name}"
                                        th:errorclass="'is-invalid bg-danger'"
                                        type="text" class="form-control form-control-lg" id="name"
                                        aria-describedby="nameHelper">
                                <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                       id="nameHelper"
                                       class="invalid-feedback bg-danger text-light rounded">
                                </small>
                                <label class="form-label" for="name">Plan name</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input
                                        th:field="*{planDuration}"
                                        th:errorclass="'is-invalid bg-danger'"
                                        type="text" class="form-control form-control-lg" id="planDuration"
                                        aria-describedby="planDurationHelper">
                                <small th:if="${#fields.hasErrors('planDuration')}" th:errors="*{planDuration}"
                                       id="planDurationHelper"
                                       class="invalid-feedback bg-danger text-light rounded">
                                </small>
                                <label class="form-label" for="planDuration">Plan duration</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input
                                        th:field="*{price}"
                                        th:errorclass="'is-invalid bg-danger'"
                                        type="text" class="form-control form-control-lg" id="price"
                                        aria-describedby="priceHelper">
                                <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                                       id="priceHelper"
                                       class="invalid-feedback bg-danger text-light rounded">
                                </small>
                                <label class="form-label" for="price">Price</label>
                            </div>

                            <div class="form-outline mb-4">
                                <select th:field="*{televisionType}"
                                        th:errorclass="'is-invalid bg-danger'"
                                        class="form-control form-control-lg" id="televisionType">
                                    <option th:each="type : ${T(bg.greencom.greencomwebapp.model.entity.enums.TelevisionTypeEnum).values()}"
                                            th:value="${type.name()}"
                                            th:text="${type.getValue()}">
                                    </option>
                                </select>

                                <small th:if="${#fields.hasErrors('televisionType')}" th:errors="*{televisionType}"
                                       class="invalid-feedback bg-danger text-light rounded">
                                </small>
                                <label class="form-label" for="televisionType">Television type</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input
                                        th:field="*{channelCount}"
                                        th:errorclass="'is-invalid bg-danger'"
                                        type="text" class="form-control form-control-lg" id="channelCount"
                                        aria-describedby="channelCountHelper">
                                <small th:if="${#fields.hasErrors('channelCount')}" th:errors="*{channelCount}"
                                       id="channelCountHelper"
                                       class="invalid-feedback bg-danger text-light rounded">
                                </small>
                                <label class="form-label" for="channelCount">Channel count</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input
                                        th:field="*{channelCountHD}"
                                        th:errorclass="'is-invalid bg-danger'"
                                        type="text" class="form-control form-control-lg" id="channelCountHD"
                                        aria-describedby="channelCountHDHelper">
                                <small th:if="${#fields.hasErrors('channelCountHD')}" th:errors="*{channelCountHD}"
                                       id="channelCountHDHelper"
                                       class="invalid-feedback bg-danger text-light rounded">
                                </small>
                                <label class="form-label" for="channelCountHD">Channel count HD</label>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit"
                                        class="btn btn-success btn-block btn-lg text-body">Add plan
                                </button>
                                <a style="margin-left: 15px" type="button"
                                   class="btn btn-success btn-block btn-lg text-body"
                                   th:href="@{/television/television-plans}">Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/commons::footer"></footer>
</body>

</html>