<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"><title>Television plans</title></head>
<body>
<header th:replace="fragments/commons::navbar"></header>

<div class="container-fluid">
  <div class="container p-5">
    <div class="row">
      <div th:each="t : ${allTelevisionPlans}" th:object="${t}" class="col-lg-4 col-md-12 mb-4">
        <div class="card card1 h-100">
          <div class="card-body">

            <h5 th:text="*{name}" class="card-title"></h5>
            <small th:text="|*{planDuration} plan duration|" class='text-muted'></small>
            <br><br>
            <span th:text="*{price}" class="h2">$8</span>$/month
            <br><br>
            <div class="d-grid my-3">
              <button type="button"
                      class="btn btn-outline-dark btn-block"
                      data-toggle="modal"
                      data-target="#signatureModal"
                      th:data-id="${id}"
                      th:data-action="@{/television/television-plan/{id}(id=*{id})}">
                Sign
              </button>
            </div>
            <div class="d-grid my-3" sec:authorize="hasRole('ADMIN')">
              <a th:href="@{/internet/edit-internet-plan/{id}(id=*{id})}"
                 class="btn btn-outline-dark btn-block">Edit</a>
            </div>
              <ul>
                  <li th:text="|*{channelCount} channels |"></li>
                  <li th:text="|*{channelCountHD} HD channels|"></li>
                  <li th:each="extra : ${additionalPackages}" class="list-unstyled">
                      <div class="form-check">
                          <input class="form-check-input"
                                 type="checkbox"
                                 th:value="${extra.id}"
                                 th:id="${'extra-' + t.id + '-' + extra.id}"
                                 name="selectedExtras">
                          <label class="form-check-label"
                                 th:for="${'extra-' + t.id + '-' + extra.id}"
                                 th:text="|${extra.name} - ${extra.price}$/month|">
                              Extra Name
                          </label>
                      </div>
                  </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>