/*body {*/
/*background-color: #35AC6B;*/
/*}*/

.nav-item li {
    margin-left: 16px;
}

body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bg-image {
    width: 100%;
    height: 600px;
    background-image: url('/images/wall.jpg');
}

.box {
    inline-size: min-content;
}