<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navbar"></header>


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://placehold.it/1200x400?text=IMAGE" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://placehold.it/1200x400?text=IMAGE" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://placehold.it/1200x400?text=IMAGE" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://placehold.it/1200x400?text=IMAGE" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://placehold.it/1200x400?text=IMAGE" alt="Third slide">
        </div>
    </div>
</div>

<div class="container text-center">
    <h3>Choose a service</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <a href="/home">
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </a>
            <p>Voice Mobile Plans</p>
        </div>
        <div class="col-sm-4">
            <a href="/home">
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </a>
            <p>Data mobile plans</p>
        </div>
        <div class="col-sm-4">
            <a href="/home">
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </a>
            <p>Internet plans</p>
        </div>
        <div class="col-sm-4">
            <a href="/home">
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </a>
            <p>Television plans</p>
        </div>
        <div class="col-sm-4">
            <a href="/home">
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </a>
            <p>Landline plans</p>
        </div>
    </div>
</div>
<br>

<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>
