<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navbar"></header>
<blockquote class="blockquote text-center">
    <h1 class="mb-0">Welcome to GREENCOM</h1>
    <footer class="blockquote-footer">Making connections that count</footer>
</blockquote>

<p class="text-center">
    <b>
        Here you can choose a service plan for mobile phone, home network, television and landline phone.
    </b>
</p>
<p class="text-center">
    <b>
        Our cell coverage is 99% in all the country!
    </b>
</p>
<p class="text-center">

    <b> So don't wait, register an account and choose your plan!
    </b>
</p>


<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>